<section class="feature">
    <div class="column">
        <div class="mat-h1">Get Task Notification</div>
        <p> Get on the go notification on new task, task progress and completed status. </p>
        <p> KuduTask will help you not to miss task deadline.</p>
        <p> </p>
        <p></p>
    </div>

    <div class="column">
        <div class="mat-h1">Assign Task To Members</div>
        <p> Assign task to one or more team member, monitor task progress in real-time. </p>
        <p> If need be, you can add members, remove members or re-assign task to different persons.</p>
        <p> You can mark a task as private (personal Todo) or for team</p>
    </div>

    <div class="column">
        <div class="mat-h1">Share Task With Team</div>
        <p> You can decide to share a task with your team members.</p>
        <p> This enables every team member get abreast task progress.</p>
        <p> Share it only if you like and keep it private if otherwise.</p>
    </div>
</section>
