<footer>
    <div class="copyright">
       <a [routerLink]="['']">&copy; 2021 Traz Solutions</a>
       <div class="tnc">
            <a [routerLink]="['../legal/terms']">Terms</a>
            <a [routerLink]="['../legal/privacy']">Privacy</a>
            <a [routerLink]="['../legal/cookies']">Cookies</a>
        </div>
    </div>
   
    <div class="social">
        <a mat-button class="github" href="#" target="_blank">GitHub</a>
        <a mat-button class="twitter" href="#" target="_blank">Twitter</a>
        <a mat-button class="facebook" href="#" target="_blank">Facebook</a>
    </div>
</footer>