<section>
  <h1>{{task.title | uppercase}}</h1>
  <p>{{task.description | sentencecase}}</p>

  <div class="container">

    <!-- Task chat -->
    <kudutask-chat [task]='task'></kudutask-chat>

    <div class="task-report">
      <kudutask-status-cards [task]='task'></kudutask-status-cards>
      <kudutask-summary [task]='task'></kudutask-summary>
    </div>

    <div class="task-progress">
      <kudutask-controls [task]="task"></kudutask-controls>

      <mat-card>
        <div class="mat-h1">Report From Assignees</div>
        <kudutask-assignees [task]='task'></kudutask-assignees>
      </mat-card>
    </div>

  </div>
</section>