<section>
    <div class="breadcrumb-wrap">
        <ul class="breadcrumb">
          <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/dashboard/security']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Security</a>
          </li>
          <li>password</li>
        </ul>
    </div>


    <mat-card>
        <mat-card-header>
            <mat-card-title>Password Information</mat-card-title>
            <mat-card-subtitle>Change password</mat-card-subtitle>
        </mat-card-header>
        

        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onChange(form)">
                <mat-form-field>
                  <mat-label>Current password</mat-label>
                  <input matInput [type]="hideOdd ? 'password' : 'text'" formControlName="current">
                  <div mat-icon-button matSuffix (click)="hideOdd = !hideOdd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOdd">
                    <mat-icon>{{hideOdd ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </div>
                  <mat-error *ngIf=" form.get('current').hasError('pattern')">
                    Password should be minimum of 8 characters
                  </mat-error>
                  <mat-error *ngIf=" form.get('current').hasError('required')">
                    Your password is required
                  </mat-error>
                </mat-form-field>
              
                <mat-form-field>
                  <mat-label>New password</mat-label>
                  <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="new">
                  <div mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                    <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </div>
                  <mat-error *ngIf=" form.get('new').hasError('pattern')">
                    Password should be minimum of 8 characters
                  </mat-error>
                  <mat-error *ngIf=" form.get('new').hasError('required')">
                    Your password is required
                  </mat-error>
                </mat-form-field>

                <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">Change</button>
              </form>
        </mat-card-content>
    </mat-card>


</section>
