section {
    mat-card {
        padding: 45px;
        width: 60%;
        mat-card-header {
           margin-left: -15px;
        }
        mat-card-content {
            form {
                display: flex;
                flex-direction: column;
                mat-form-field {
                    width: 100%;
                    div {
                        mat-icon {
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                }
                button {
                    width: 30%;
                    margin-left: auto;
                    order: 2;
                }
            }
        }
    }
}