section {
    width: 500px;
    h1 {
        span {
            cursor: pointer;
            float: right;
        }
    }

    mat-form-field {
        width: 100%;
    }
    mat-hint {
        font-size: 12px;
    }

    mat-dialog-content {
        width: 100%;
        margin-top: 35px;
    }
    mat-dialog-actions {
        button {
            width: 25%;
        }
    }
}