<section class="gallery">
    <section>
        <h2>Organizations Using KuduTask </h2>
        <div class="container">  
            <figure>
                <img src="./../../../assets/img/logos/burms.PNG"> 
                <figcaption>Burms Consulting Limited</figcaption>
            </figure>  
            <figure>
                <img src="./../../../assets/img/logos/CORPORATE-MANAGEMENT-CONSORT.png"> 
                <figcaption>Corporate Management Consorts</figcaption>
            </figure>  
            <figure>
                <img src="./../../../assets/img/logos/APPLAUSE-RENDEZVOUS.png"> 
                <figcaption>Applause Rendezvous</figcaption>
            </figure>  
        <figure>
                <img src="./../../../assets/img/logos/ECHO-BEAT-PRODUCTIONS.png"> 
                <figcaption>Echo-Beat Productions</figcaption>
            </figure>  
            <!--  <figure>
                <img src="./../../../assets/img/Logo0.jpg"> 
                <figcaption>KuduTask Solutions</figcaption>
            </figure> --> 
            
        </div>
        <!-- <mat-icon class="horizon-prev">keyboard_arrow_left</mat-icon>
        <mat-icon class="horizon-next">keyboard_arrow_right</mat-icon> -->
    </section>
</section>