.page {
    height: 100%;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .forgot {
        width: 30%;
        mat-card {
            padding: 40px 50px;
            background-color:rgb(185, 168, 216);
            color: black;
            mat-card-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;                
            }
            mat-card-content {
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    mat-form-field {
                        width: 100%;
                    }
                }
            }
            mat-card-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                a {
                    mat-icon {
                        font-size: 14px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}