section {
    margin-top: 3rem;
    address {
        margin-top: 1rem;
        div {
            font-weight: bold;
            font-size: 1rem;
            font-style: normal;
            span {
                font-weight: normal;
                margin-right: 2rem;
            }
        }
    }
}